/*enserrar los selectores*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #f0f0f0;
}

.CabeceraPrincipal,.piePagina,.menuPrincipal{
    width: 100%;
}


.siliderPrincipal, .sponsors,  .chefMenu{
    width: 90%;
    margin: 0 auto;
}

.presentacion{
    width: 70%;
    margin: 0 auto;
    padding-top: 5em;
    color: #2D0C58;
}
.CabeceraPrincipal{
    display: flex;
    background-color: #2D0C58;
    height: 10vh;
}

.logo{
    margin-top: 1.5vh;
    margin-left: 5vw;
}
.contenidoCabecera{
    display: flex;
    text-align: flex-end;
    justify-content: flex-end;
    align-items: center;
    color: #E0DCDC;
}

.contenidoCabecera h1{
    color: #f0f0f0;
    padding: 10px 40px;
}
.CC2{
    align-items: flex-end;
    margin-left: 67vw;
}

.usuarioClass{
    display: flex;
    margin-bottom: 2vh;
}

.btnRegistro{
    text-decoration: none;
    color: #E0DCDC;
    margin-right: 1vw;
}
.btnLogin{
    text-decoration: none;
    color: #E0DCDC;
    margin-left: 1vw;
}
.Usuario{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.menuPrincipal{
    background-color: #E0DCDC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 

}

.menuPrincipal a{
    text-decoration: none;
    padding: 5px 10px;
    color: #393939;
    text-transform: uppercase;
    font-weight: bold;
}
.menuPrincipal a:hover{
    background-color: #2D0C58;
    color: #E0DCDC;
    display: inline-block;
    border-radius: 0 0 10px 10px;
}

.siliderPrincipal{
    padding-top: 5em;
}
.siliderPrincipal img{
    width: 100%;
}


.menu{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.menuPlato{
    width: 70%;
    text-align: left;
    background-color: #E9E9E9;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #393939;
    color: #2D0C58;
}
.menuPlato img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.menuPlato p, h3{
    padding: 0.3em;
}

.menuPlato:hover{
    background-color: #3B1B6666;
    color: #E0DCDC;
    cursor: pointer;
}


.chefMenu{
    padding-top: 20vh;
    width: 70%;
    color: #2D0C58;
}

.listaChef{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.chefInfo{
    display: flex;
    padding: 2em;
}
.chefInfoInt{
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    text-align: left;
}

.chefInfoInt h4{
    padding-bottom: 1em;
}
.chefInfoInt p{
    padding-bottom: 1em;
}
.chefInfo img{
    border-radius: 100%;
    width: 100%;
}

.bt1{
    width: 50%;
    height: 35px;
    background-color: #0c5819;
    color: #E0DCDC;
}
.bt2{
    width: 50%;
    height: 35px;
    background-color: #0c2058;
    color: #E0DCDC;
}

.piePagina{
    background-color: #2D0C58;
    color: #E0DCDC;
}

.piePagina h6{
    text-align: center;
    padding: 2em 0;
}

/*Formulario */
.principal{
    display: flex;
    flex-direction: column;
    color: #2D0C58;
    margin-left: 30VW;
    margin-top: 5vh;   
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 70%;
}
.grupoInput{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.labelStyle{
    width: 15%;
    font-size: 1.2em;
}

.frmInput{
    width: 85%;
    height: 5vh;
    padding-left: 1vw;
}

.btn-submit{
    background-color: #2D0C58;
    color: #E0DCDC;
    width: 6vw;
    height: 5vh;
    margin-top: 2vh;
    border-radius: 5px;
}

/*Administrador*/
.administrador{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    height: 89vh;
}
.CCUser{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}
.avatar{
    width: 5vh;
    height: 5vh;
    border-radius: 50px;
    margin-left: 1vw;
}
.usuarioName{
    font-size: 1.5em;
}
.btnExit{
    text-decoration: none;
    color: #E0DCDC;
    font-size: 0.9em;
    margin-top: 0.8vh;
    margin-right: 3.5vw;
}
/*estadisticas*/
.estadisticas{
    display: flex;
}
.card{
    display: flex;
    width: 10vw;
    height: 8vh;
    color: #E0DCDC;
    margin-right:3vw ;
    padding-left: 1vw;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.colorCard1{   
    background-color: #6026ac;
}
.colorCard2{   
    background-color: #26a8ac;
}
.colorCard3{   
    background-color: #d4ce1d;
}
.colorCard4{   
    background-color: #be198c;
}
.fa-solid{
    margin-right: 2VW;
}
.numerico{
    font-size: 1.5em;
}
/**/
.sideBar{
    width: 15%;
    height: 86vh;
    background-color: #e5e5e5;
    padding-left: 3vw;
    padding-top: 4vh;
}

.menuSideBar{
    display: flex;
    flex-direction: column;
}
.btnMenu{ 
    text-decoration: none;
    font-size: 1.3em;
    padding-top: 1vh;
    padding-left: 1vh;
    color: #2D0C58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.btnMenu:hover{
    background-color: #2D0C58;
    color: #E0DCDC;
    display: inline-block;
    border-radius: 5px;
    padding-top: 1vh;
    padding-left: 1vh;
    width: 10vw;
    height: 4vh;
}

.activate{
    background-color: #2D0C58;
    color: #E0DCDC;
    display: inline-block;
    border-radius: 5px;
    padding-top: 1vh;
    padding-left: 1vh;
    width: 10vw;
    height: 4vh;
}

.contentDash{
    width: 85%;
    padding-top: 5vh;
    padding-left: 5vw;
    overflow-y: scroll ;
    overflow-x: hidden;

}
.contentDash h2{
    color: #2D0C58;
    margin-top: 4vh;
    font-size: 2em;
    
}

.contDash{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.platoNuevo{
    display: flex;
    width: 12vw;
    height: 4vh;
    background-color: #2D0C58;
    color: #E0DCDC;
    border-radius: 5px;
    padding: 5px;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.btnAgragar{
    background-color: #2D0C58;
    color: #E0DCDC;
    font-size: 1em;
    margin-right: 1vw;
    margin-left: 1vw;
}
.chefCard{
    border-radius: 5px;
}


.chefInfo2{
    display: flex;
    padding: 2em;
}
.chefInfoInt{
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    text-align: left;
}

.chefInfoInt h4{
    padding-bottom: 1em;
}
.chefInfoInt p{
    padding-bottom: 1em;
}
.chefInfo2 img{
    width: 100%;
}

/*User*/
.addUser{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.btnAddUser{
    text-decoration: none;
    font-size: 1em;
    padding: 1vh;
    color: #E0DCDC;
    background-color: #2D0C58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px; 
    cursor: pointer;
}

.tableContent{
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.tablecud {
	width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
tr:hover{
	background: #ccc;
	color: #000;
}